@media (max-width:1024px){

    /* about section */
}

@media (max-width:991px) {
    /*Custom Classes*/
.text-content{
    width:100%;
} 

/*nav brand*/
.navigation-wrap .navbar-brand img{
    height: 3.8125rem;
}
.navigation-wrap{
    text-align: center;
    background-color: var(--white-color);
}

.navigation-wrap .nav-link{
    line-height: 1.875rem;
}

/* banner design */
.top-banner {
    padding: 9.375rem 0 9.375rem;
}
}

@media(max-width:767px){

    /*Custom Css*/
    h1{
        font-size:2.8rem;
    }

    h2{
        font-size: 2rem;
        line-height: 2.0625rem;
    }

    /*Top banner*/
    .top-banner{
        padding:10.875rem 0 9.375rem;
    }
}